/storage
/vendor
/tests
/node_modules
/public/hot
/public/storage
/storage/*.key
/.idea
/.vagrant
/public/img/raw
/docs/raw
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.example
.DS_Store
*.swp
sitemap-*.txt
*.lock
*.xsd
public/error_log
/docs/graphics
/docs/install
*.zip
public/appeventlog.txt
