/storage
/vendor
/tests
/node_modules
/public/hot
/public/storage
/storage/*.key
/.idea
/.vagrant
/public/img/raw
/public/img/backgrounds
/public/img/plancha
/docs/raw
/docs/install
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.example
.DS_Store
*.swp
sitemap-*.txt
*.lock
*.xsd
public/error_log
*.zip
public/appeventlog.txt
public/appeventlog.txt
*.psd
